body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: row;
    width: 80%;

    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column {
    flex: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.inventory-container {
    background-color: #f0f0f0;
}

.cart-container {
    background-color: #e0e0e0;
}


.inventory-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 10px 0;
        background-color: #e0e0e0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}


.inventory-wrapper li
{
    list-style-type: none;
flex: 1;
padding: 10px;
margin: 5px;
background-color: #c0c0c0;
text-align: center;
border-radius: 3px; }
